.venv/
.idea/
pokemon-vgc-engine/
pokemon-vgc-engine/vgc2.egg-info/
pokemon-vgc-engine/visual_server
*/__pycache__/
/TrainingRuns
/Challenge_Competitors/OnlyTeamBuildPolicy
#run_championship_template.ipynb
